body{
    background-color: rgb(73, 72, 72);
}

canvas{
    background-color: rgb(0, 0, 0);
    display: block;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#textzone{
    margin: 100px;
    padding: 20px;
    font-size: 50px;
    background-color: black;
    color: green;
    text-align: center;
}

.container2{
    text-align: center;
}

#score{
    position: absolute;
    top: 20px;
    left: 40px;
    color: rgb(0, 255, 0);
    font-size: 30px;

}

#instruction{
    position: absolute;
    top: 750px;
    left: 1000px;
    color: rgb(0, 255, 0);
    font-size: 30px;
}

#difficulte{
    position: absolute;
    top: 850px;
    left: 900px;
    color: rgb(0, 255, 0);
    font-size: 30px;
}

#instruction2{
    position: absolute;
    top: 850px;
    left: 1020px;
    color: rgb(0, 255, 0);
    font-size: 30px;
}

#pacman{
    position: absolute;
    color: rgb(0, 255, 0);
}