body {
    background-color: rgb(73, 72, 72);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

canvas {
    background-color: black;
    display: block;
    width: 100%;
    height: 70vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#textzone {
    padding: 1rem;
    font-size: 2.5vw;
    background-color: black;
    color: green;
    text-align: center;
    border: 2px solid green;
    border-radius: 10px;
    width: 50%;
    min-width: 200px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

#instruction,
#difficulte,
#instruction2,
#score{
position: absolute;
left: 50%;
transform: translateX(-50%);
color: rgb(0,255,0);
font-size: 1.5vw;
}

#score{
top: 20px;
left: 20px;
transform: none;
}

#instruction{ top: 50%; }
#difficulte{ top: 55%; }
#instruction2{ top: 55%; }


#pacman{
    position: absolute;
    color: rgb(0, 255, 0);
}