body{
    background-color: rgb(73, 72, 72);
}

canvas{
    background-color: rgb(0, 0, 0);
}

.container{
    display: flex;
    justify-content: center;
}

#textzone{
    margin: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 50px;
    background-color: black;
    color: green;
    text-align: center;
}

p{
    position: absolute;
    top: 700px;
    left: 1000px;
    color: rgb(92, 134, 92);
    font-size: 30px;
}

#pacman{
    position: absolute;
    color: green;
}